<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% sw.forEach(item=>{ %>
        <h2><%= item.switch %></h2>
        <% data.forEach(itr=>{ %>
            <%if(itr.switch === item.switch){ %>
                <li><%=itr.name%></li>
            <%} %>
        <% }) %>
    <%})%>
</body>
</html>